* {
  margin: 0;
  font-family: "Arial", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f9fc;
  padding: 0;
  box-sizing: border-box;
}